body {
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
    background: linear-gradient(135deg, #253d24, #52bff2);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h3 {
    padding-bottom: 10px;
    color: #3a4653;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.container {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
}

input[type="text"],
input[type="number"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    transition: border .2s;
    margin: 10px 0;
    /* font-family: 'Poppins', sans-serif; */
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #3a4653;
}

label {
    font-size: 14px;
    display: block;
    margin: 10px 0;
    font-weight: 500;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
    display: flex; /* Add this to make the buttons appear in one line */
    justify-content: space-between; /* Spread the buttons evenly */
}

button {
    display: block;
    padding: 12px 20px;
    background-color: #3a4653;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px; /* Adjust margin here */
    transition: background-color .2s;
    font-weight: 500;
}

.back-btn {
    display: block;
    padding: 12px 20px;
    background-color: #3a4653;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    transition: background-color .2s;
    font-weight: 500;
}

submit-button {
    display: flex;
}

button:hover {
    background-color: #516174;
}

pre {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
    word-break: break-all;
    height: 200px;
    overflow-y: auto;
    font-size: 14px;
}

#output {
    margin-top: 20px;
}
