body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #253d24, #52bff2);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Fill the width of the page */
    text-align: center;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #3a4653;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
}

.pay-label {
    font-size: 14px;
    margin: 15px 0 5px 0;
}

button {
    display: block;
    padding: 12px 20px;
    background-color: #3a4653;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
    transition: background-color .2s;
}

button:hover {
    background-color: #516174;
}

h3 {
    font-weight: 500;
    color: #3a4653;
    margin-bottom: 10px;
}

#output {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
    word-break: break-all;
    height: 200px;
    overflow-y: auto;
    font-size: 14px;
}

pre {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 14px;
}
